<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a id="header-left-link" class="navbar-brand" href="/"><i class="fa-solid fa-link fa-lg"></i><img id="header-logo" src="./content/images/survey13-logo.jpg">Survey13</a>

        <!-- *** also insert main website logo here -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="header-home-effect" class="nav-link <%= (page == 'home') ? 'active' : ''; %>" aria-current="page" href="/home"><i
                class="fa-solid fa-house-signal fa-lg"></i> Home</a>
                </li>

            </ul>
        </div>
    </div>
</nav>