* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, #95cd41 0%, skyblue 100%);
}

.container {
    margin-top: 30px;
}


/*-----header.ejs-------------------------------------------------------*/

header {
    color: white;
    background-color: #000;
}

header ul {
    font-size: 15px;
}


/* survey13 logo and A-Team photo */

#Survey13-logo,
#mainLogo {
    width: 25%;
    margin-top: -15px;
    margin-left: -15px;
}

#ateam {
    margin-left: 20%;
}


/*header- home link*/

tr:nth-child(even) {
    background-color: white;
}

#p2 {
    background-color: gainsboro;
    width: 280px;
    padding: 10px;
    margin: 10px;
    font-size: 28px;
    color: #DAA520;
}

h2 {
    color: #000000;
    background-color: #DAA520;
    width: 100%;
    padding: 12px;
    font-size: 20px;
}

#f1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

#f2 {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
}

#f3 {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #DAA520;
    text-align: center;
}

#form1 {
    color: #000000;
    background-color: #f1f1f1;
    width: 100%;
    padding: 12px;
    font-size: 20px;
}

.padding-table-columns td {
    padding: 0 5px 0 0;
    /* Only right padding*/
}


/*---Buttons and Anchors assemble!-------*/


/*home buttons in home.ejs*/

.home-survey-button {
    background-color: #0ccbf3;
    float: left;
    background-image: linear-gradient(to right, gainsboro 0%, skyblue 100%);
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 150px;
    padding: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px black;
}

.home-survey-button a {
    text-decoration: none;
    color: black;
}

.home-survey-button:hover {
    background-image: linear-gradient(to right, #B25353 0%, goldenrod 100%);
    box-shadow: 6px 3px 3px black;
}

.home-survey-button a:hover {
    color: gainsboro;
}


/*-Button in create.ejs fot tutorial page link---*/

#tutorialBtn {
    background-color: gainsboro;
    border: solid 1px black;
}

#tutorialBtn:hover {
    background-color: goldenrod;
    box-shadow: 3px 2px 2px black;
    color: ghostwhite;
}


/*-Button in create.ejs ---*/

#addOptionButton,
#saveQuestionandOptions,
.addNewOptionButton {
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px black;
}

#saveQuestionandOptions,
#addOptionButton,
.addNewOptionButton {
    padding: 3px;
    background-color: gainsboro;
}

#saveQuestionandOptions:hover,
#addOptionButton:hover {
    background-color: #95CD41;
    box-shadow: 3px 2px 2px black;
    color: ghostwhite;
}

#submitButton,
#cancelBtn {
    background-color: gainsboro;
    color: black;
    border: solid 1px black;
}


/*Buttons in edit.ejs*/

#submitButton:hover {
    background-color: #16697A;
    color: ghostwhite;
    box-shadow: 3px 2px 2px black;
}

#cancelBtn:hover {
    background-color: #BB0029;
    color: ghostwhite;
    box-shadow: 3px 2px 2px black;
}

#editSubmitBtn,
#editCancelBtn {
    border: solid 1px black;
    background: gainsboro;
    margin-left: 15%;
}

#editSubmitBtn:hover,
#editCancelBtn:hover {
    box-shadow: 3px 2px 2px grey;
    color: white
}

#editSubmitBtn:hover {
    background-color: #16697A;
}

#editCancelBtn:hover {
    background-color: #BB0029;
}


/*-buttons for list.ejs----*/

#addASurveyBtn {
    margin-top: 15px;
    margin-bottom: 15px;
}

#addASurveyBtn:hover {
    background-color: #95CD41;
    box-shadow: 4px 2px 2px grey;
}

#tableHeaderSurveyList {
    font-size: 13px;
}

.editBtn,
#addASurveyBtn,
.deleteBtn,
#viewSurveyStatsBtn {
    border: solid 1px black;
    background: gainsboro;
}

.editBtn:hover,
.deleteBtn:hover,
#addASurveyBtnListPage:hover,
#viewSurveyStatsBtn:hover,
#startASurveyBtn:hover {
    box-shadow: 4px 2px 2px grey;
    color: ghostwhite;
}

.editBtn:hover {
    background-color: #16697A;
}

#viewSurveyStatsBtn:hover {
    background-color: #0DCAF0;
}

.deleteBtn:hover {
    background-color: #BB0029;
}

#viewSurveyStatsBtn {
    font-size: 13px;
}

#startASurveyBtn {
    font-size: 13px;
}


/*-buttons for stat.ejs----*/

#emailData,
#backToSurveyListBtn {
    background-color: gainsboro;
    border: solid 1px black;
}

#emailData:hover,
#backToSurveyListBtn:hover {
    box-shadow: 4px 2px 2px grey;
    color: white;
    border: solid 1px black;
}

#emailData:hover {
    background-color: #0CCBF3;
}

#backToSurveyListBtn:hover {
    background-color: goldenrod;
}


/*--tutorial.ejs--------------------------------------------------------*/


/*-- home.ejs------------------------------------*/


/*slideshow part of the home page*/

#boxIt {
    display: block;
    float: left;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 49%;
    background-color: ghostwhite;
    padding: 10px;
    border: solid 3px black;
}


/*.mySlides {
    display: none
}*/

#boxIt img {
    vertical-align: middle;
    border-radius: 15px;
}

#home-survey-contained {
    display: block;
    float: right;
    position: relative;
    padding: 30px;
    border: solid black 3px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 10px 5px 5px grey;
    background-image: url("/content/images/lightweb.png");
}

#home-survey-box {
    display: block;
    float: right;
    position: relative;
    padding: 30px;
    width: 50%;
    height: 530px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#home-survey-box h1 {
    color: #06038D;
    font-size: 75px;
}

#home-survey-box h2 {
    color: #B25353;
    background-color: gainsboro;
    font-weight: bolder;
    border-radius: 5px;
}

#getStarted {
    text-align: center;
}

#getStarted {
    text-align: center;
}


/*The link to the survey pages - view and list*/


/*Home - Login - */

#home-survey-login {
    margin: 0 auto;
    width: 100%;
}

#home-survey-login h1 {
    color: darkblue;
    font-size: 42px;
    ;
}

#home-survey-login h2 {
    background-color: grey;
    color: #BB0029;
    font-weight: bolder;
}


/*----survey/create.ejs--------------------------------------*/

#survey-create-box {
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 40px;
    background: ghostwhite;
    border-radius: 10px;
    padding: 50px;
}

#survey-create-box:hover {
    box-shadow: 10px 5px 5px grey;
}

.stepLabel {
    text-decoration: underline;
    font-weight: bold;
}

#survey-create-box h1 {
    font-size: 30px;
    margin-top: 30px;
}

#survey-create-box input:hover {
    border: solid 2px black;
}


/*-------survey/edit.ejs-------------------------------*/


/*div container for the form*/

#survey-edit-box {
    margin: 0 auto;
    width: 620px;
    margin-top: 15px;
    margin-bottom: 40px;
    background: ghostwhite;
    border-radius: 10px;
    padding: 10px;
}

#survey-edit-box:hover {
    box-shadow: 10px 5px 5px grey;
}

#survey-edit-box h1 {
    font-size: 30px;
    margin-top: 30px;
}

#thisQuestion {
    color: #BB0029;
}

#survey-edit-box label {
    margin-left: -50px;
}

#survey-edit-box input {
    width: 500px;
    margin-top: 5px;
    margin-left: -50px;
    border: solid black 1px;
    border-radius: 5px;
}

#survey-edit-box input:hover {
    border: solid 2px black;
}

#survey-edit-box form {
    margin-left: -45px;
    margin-bottom: 50px;
    width: 600px;
}

.addChoice {
    margin-top: 4px;
    border: solid 1px black;
    background-color: gainsboro;
}

.addChoice:hover {
    box-shadow: 5px 3px 3px grey;
    background-color: #95CD41;
    color: white;
}


/*-survey/list.ejs-----------------------------------------------*/


/*div container for the form*/

#survey-list-box {
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: ghostwhite;
    font-size: 13px;
    border-radius: 15px;
    box-shadow: 4px 2px 2px grey;
    overflow: visible;
    clear: both;
}

#survey-list-box h1 {
    font-size: 35px;
}

table {
    table-layout: fixed;
}


/*-survey/stats.ejs-----------------------------------------------*/

#survey-stat-box {
    background-color: ghostwhite;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px black;
}

#statsTable {
    border: solid 2px grey;
    background-color: #eaedff;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#emailData {
    margin-left: 15px;
}

#submissionNumber,
#commentsTitle,
#freeTextTitle {
    text-decoration: underline;
}

.optionChosen {
    display: inline;
}


/*-survey/view.ejs-----------------------------------------------*/

#mainSurvey {
    font-family: sans-serif;
    max-width: 60%;
    margin: 50px auto;
    background-color: gainsboro;
    padding-top: 5px;
    padding: 30px;
    border: 2px solid rgb(220, 220, 220);
    border: solid 2px black;
    border-radius: 10px;
}

#mainSurvey input[type="radio"],
#mainSurvey input[type="checkbox"] {
    margin-top: 5px;
    margin-left: 5px;
    width: 25px;
    height: 20px;
}

#submitSurvey {
    margin-left: 15px;
}

#submitSurvey:hover {
    background-color: #16697A;
    color: white;
}

#cancelButton:hover {
    background-color: #BB0029;
}

#resetButton:hover {
    background-color: goldenrod;
}

#submitSurvey,
#cancelButton,
#resetButton {
    margin-bottom: 15px;
    background-color: gray;
    color: ghostwhite;
}

#submitSurvey:hover,
#cancelButton:hover,
#resetButton:hover {
    box-shadow: 4px 2px 2px grey;
    color: white;
}

#correctEmail {
    font-size: small;
}

#commentsBox,
.customTextbox {
    resize: both;
}


/*--login.ejs and register.ejs pages-------------------------------------*/


/*register page*/

#contentArea {
    margin-top: 30px;
    width: 100%;
    background-image: linear-gradient(to right, gainsboro 0%, skyblue 100%);
    padding: 30px;
    border: solid 2px black;
    border-radius: 10px;
}

#contentArea input {
    margin-bottom: 4px;
    border-radius: 10px;
}

.questionAboutAccount p {
    margin-top: 5px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bolder;
}

.questionAboutAccount a {
    color: #06038D;
    font-size: 20px;
}

#username,
#password,
#confirmPassword {
    margin-left: 8px;
}

#loginButton,
#cancelLogin {
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px black;
}

#loginButton:hover {
    background-color: #16697A;
}

#cancelLogin:hover {
    background-color: #BB0029;
}

#loginButton:hover,
#cancelLogin:hover {
    color: white;
    box-shadow: 4px 2px 2px grey;
}


/*-update.ejs page-----------------------------------------*/

#formUpdate {
    width: 50%;
    margin: 0 auto;
    border: solid 2px black;
    background-color: gainsboro;
    border-radius: 15px;
}

#formUpdate h1 {
    font-size: 25px;
}

#updateForm {
    margin-top: 20px;
}

#formUpdate input {
    width: 80%;
    margin-left: 30px;
}

#formUpdate label {
    margin-left: 30px;
}

#changePasswordBtn {
    margin-left: 30px;
    margin-bottom: 10px;
}

#saveDetails {
    margin-left: 35%;
}

#cancelUpdateBtn {
    margin-left: 5px;
}

#cancelUpdateBtn,
#saveDetails {
    background: ghostwhite;
    margin-bottom: 30px;
}

#cancelUpdateBtn:hover,
#saveDetails:hover,
#changePasswordBtn:hover {
    box-shadow: 3px 2px 2px grey;
}


/*--password.ejs page------------------------------------------*/

#updatePassword {
    width: 60%;
    margin: 0 auto;
    border: solid 3px black;
    border-radius: 10px;
    padding: 8px;
    background: gainsboro;
    font-size: 25px;
}

#changePasswordButton {
    font-size: 30px;
    margin-bottom: 20px;
}

#changePasswordButton:hover {
    border: solid 1px black;
    box-shadow: 5px 2px 2px grey;
    color: white;
    background: black;
}

#mainPassForm{
    width:50%;
    margin-left: 35%;
}


/*-code.ejs page-is /generateCode------------------------------------------*/

#codePage form {
    margin: 0 auto;
    width: 70%;
    border: solid 1px black;
    border-radius: 10px;
    background: gainsboro;
    padding: 15px;
    font-size: 20px;
}

#codePage input {
    width: 50%;
}

#sendCodeForm{
    margin-left: 25%;
    width: 50%;
}

#sendCode {
    border-radius: 5px;
    margin-left: 35%;
}

#sendCode:hover {
    background-color: #95CD41;
    color: white;
    box-shadow: 5px 2px 2px grey;
    ;
}


/*--enterCode.ejs page------------------------------------------*/

#validateCode {
    margin: 0 auto;
    width: 70%;
    border: solid 2px black;
    border-radius: 10px;
    background: gainsboro;
    padding: 15px;
    font-size: 20px;
}

#validateCodeBtn {
    border-radius: 8px;
}

#validateCodeBtn:hover {
    background-color: #95CD41;
    color: white;
    box-shadow: 5px 2px 2px grey;
}


/*--forgotPass.ejs page------------------------------------------*/

#forgotPass {
    margin: 0 auto;
    width: 70%;
    border: solid 1px black;
    border-radius: 10px;
    background: gainsboro;
    padding: 25px;
    font-size: 20px;
}

#forgotPassForm{
    width: 50%;
    margin-left: 37%;
}

#forgotPass button {
    border-radius: 8px;
    background: white;
}

#forgotPass button:hover {
    background-color: #95CD41;
    color: white;
    box-shadow: 5px 2px 2px grey;
}


/*--------------------------------------------*/


/* Header DropDown Animation code taken from https://startbootstrap.com/snippets/animated-navbar-dropdown */

@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}


/*------------about.ejs page-------------------------*/

#aboutSurvey13-contained {
    width: 100%;
    border: solid 2px black;
    padding: 30px;
    background: #16697A;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}


/* About survey13 statement */

#aboutSurvey13 {
    display: absolute;
    background: white;
    border-radius: 10px;
    font-size: 15px;
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    clear: both;
}

#myCarousel1 {
    width: 1000px;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-left: 25%;
}

#aboutSurvey13 p {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    width: 80%;
    margin-left: 80px;
    background: ghostwhite;
    border-radius: 5px;
}

#aboutSurvey13 h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.aboutImg {
    width: 50%;
}


/*----------picture gallery-------------------*/

#aboutATEAM-contained {
    display: absolute;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    margin: 25px;
    margin-bottom: 15px;
}

#aboutATEAM-contained h1 {
    width: 95%;
    border-radius: 5px;
    color: ghostwhite;
    background: black;
    clear: both;
}

.gallery {
    display: block;
    width: 31%;
    height: 470px;
    background: skyblue;
    font-weight: bolder;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 5px 2px 2px black;
    align-items: center;
}

.gallery h3 {
    text-align: center;
    height: 40px;
}

.gallery h2 {
    font-stretch: semi-expanded;
    font-weight: bolder;
}


/*div.gallery {
    margin: 20px;
    float: left;
    width: 200px;
}*/

#about-Husna h3 {
    font-size: 25px;
}

#about-Iris {
    clear: both;
}

#about-Siddharth h3 {
    font-size: 25px;
}

#about-AJ h3 {
    font-size: 25px;
}

#about-Husna,
#about-Tamanna,
#about-Vanessa {
    margin-top: 20px;
    margin-bottom: 10px;
}

#about-Husna,
#about-Tamanna,
#about-Vanessa,
#about-Iris,
#about-Siddharth,
#about-AJ {
    float: left;
    font-stretch: semi-condensed;
    ;
}

.about-left-content {
    margin-top: 20px;
    background: #dfdfdf;
    padding: 5px;
    text-align: center;
}

.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.8);
}

.about-img img {
    display: block;
}

.about-img {
    margin-top: 30px;
    background: transparent;
    width: 200px;
    height: 200px;
    border: solid 2px grey;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.shadow:hover .about-img {
    transform: translateY(-10px);
}

.shadow:hover::after {
    opacity: 1;
}

.about-left-content h2 {
    font-size: 1rem;
    margin: 1rem 0 0.6rem 0;
    line-height: 1;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    background: #dfdfdf;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.icons {
    background: #ebebeb;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}

.icons li {
    list-style-type: none;
    background: rgb(173, 252, 255);
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.icons li:hover {
    background: rgb(255, 220, 220);
    color: rgb(255, 255, 255);
}

.about-right {
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}

.about-right h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*-Table---*/

table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    background: ghostwhite;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: ghostwhite;
}

th {
    font-weight: bold;
}

td,
th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

#tutorialVideo-1 {
    margin-bottom: 350px;
    margin-left: 30%;
    
}

#connectLink{
    margin-left: 15%;
}


/*---Media Queries-------------------------------------------------*/

@media only screen and (max-width:850px) {
    /* For mobile phones: */
    body {
        background: #B25353;
    }
    #home-survey-box,
    #home-survey-contained,
    #homeNotLogIn,
    #homeLogIn,
    #forgetPass,
    #codePage,
    #formUpdate,
    #survey-create-box,
    #survey-edit-box,
    #updatePassword,
    #forgotPass,
    #aboutATEAM-contained {
        width: 100%;
        margin: 0 auto;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    #aboutATEAM-contained,
    #gallery {
        margin-left: 30px;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        margin: 10px;
        margin-bottom: 50px;
    }
    #tutorialVideo-1 iframe {
        width: 90%;
        margin: auto;
    }
    #Survey13-logo,
    #Survey13-text {
        width: 10%;
    }
    #Survey13-logo {
        margin-top: 10px;
        margin-left: 2px;
    }
    #Survey13-text {
        margin-left: 5px;
    }
    .navbar button {
        margin-left: 2px;
    }
    a,
    button {
        width: 90%;
        clear: both;
    }
    #survey-edit-box input {
        margin-left: 50px;
        width: 65%;
    }
    #survey-edit-box label,
    button {
        margin-left: 50px;
    }
    #survey-view-box {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    #homeLogIn h1 {
        font-size: 35px;
    }
    #boxIt {
        width: 100%;
    }
    #aboutATEAM-contained {
        margin-right: 30px;
    }
    #myCarousel1 {
        width: 55%;
    }
    #tutorialVideo-1 {
        margin: auto;
    }
    #aboutSurvey13 p {
        text-align: left;
    }
    #home-survey-box h1 {
        font-size: 35px;
    }
    .home-survey-button {
        font-size: 25px;
        margin: 0 auto;
        margin-bottom: 5px;
        width: 100%;
    }
    #codePage input {
        width: 100%;
        margin-bottom: 5px;
    }
    .gallery {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }
    #aboutSurvey13 {
        width: 100%;
        margin-top: 15px;
    }
    .aboutImg {
        width: 100%;
        height: 100%;
    }
    #aboutCarousel {
        width: 50%;
        max-height: 50% !important;
        margin-left: 25%;
    }
    .addChoice {
        width: 70%;
    }
    #editSubmitBtn,
    #cancelBtn {
        width: 70%;
    }
    #cancelBtn {
        margin-left: 50px;
        background: gainsboro;
        color: black;
        width: 90%;
    }
    #backToSurveyListBtn {
        margin-left: 15px;
    }
    /*table for list----------------------------------------------------------------------------*/
    /* Force table to not be like tables anymore */
    #survey-list-box table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        border-bottom: solid 3px black;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #survey-list-box thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #survey-list-box tr {
        border: 1px solid white;
        margin-bottom: 30px;
    }
    #survey-list-box td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 15px;
        margin-left: 180px;
        width: 57%;
    }
    #survey-list-box td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 85%;
        white-space: nowrap;
        margin-left: -180px;
        text-align: left;
    }
    /*
	Label the data
	*/
    #survey-list-box td:nth-of-type(1):before {
        content: "Author ";
    }
    #survey-list-box td:nth-of-type(2):before {
        content: "Title ";
    }
    #survey-list-box td:nth-of-type(3):before {
        display: block;
        content: "Format";
    }
    #survey-list-box td:nth-of-type(4):before {
        content: "Created (yyyy-mm-dd)";
    }
    #survey-list-box td:nth-of-type(5):before {
        content: "Active on (yyyy-mm-dd)";
    }
    #survey-list-box td:nth-of-type(6):before {
        content: "Expiring on (yyyy-mm-dd)";
    }
    #survey-list-box td:nth-of-type(7):before {
        content: "Number of Questions";
    }
    #survey-list-box td:nth-of-type(8):before {
        content: "Time to Complete (approx.)";
    }
    #survey-list-box td:nth-of-type(9):before {
        content: "# of people who completed this survey";
    }
    #survey-list-box td:nth-of-type(10):before {
        content: "";
    }
    #survey-list-box td:nth-of-type(11):before {
        content: "";
    }
    #survey-list-box td:nth-of-type(12):before {
        content: "";
    }
    #survey-list-box #startASurveyBtn,
    #viewSurveyStatsBtn,
    .deleteBtn,
    .editBtn {
        font-size: 15px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: -15px;
        border: solid black 1px;
    }
    #viewSurveyStatsBtn {
        margin-bottom: 10px;
    }
    #startASurveyBtn {
        margin-bottom: 15px;
        padding: 5px;
    }
    #survey-stat-box td:nth-of-type(1):before {
        content: "Question ";
    }
    #survey-stat-box td:nth-of-type(2):before {
        content: "Options (# of times chosen) ";
    }
    #survey-stat-box td:nth-of-type(3):before {
        display: block;
        content: "% of respondents";
    }
    #survey-stat-box td:nth-of-type(4):before {
        content: "Total number of respondent";
    }
    #survey-stat-box td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 15px;
        margin-left: 180px;
        width: 57%;
    }
    #survey-stat-box td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 85%;
        white-space: nowrap;
        margin-left: -180px;
        text-align: left;
    }
    #headerStats {
        display: none;
    }
    #survey-create-box button,
    #survey-create-box a {
        margin-left: 10px;
        margin-bottom: 10px;
        margin: 0 auto;
        padding: 5px;
    }
    #tutorialBtn {
        margin-bottom: 30px;
    }
    #saveDetails,
    #changePasswordBtn {
        width: 80%;
    }
    #cancelUpdateBtn {
        width: 80%;
        margin-top: -20px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768x) {
    /* For tablets: */
    /*for test - using color to test screen size*/
    body {
        background: yellow;
    }
}