<!-- About us page -->
<div class="container">

    <div id="aboutSurvey13-contained" class="about-page-wrapper">
        <!------------------------------------------>

        <img id="mainLogo" src="/content/Survey13-images/img-01.jpg" alt="Survey13 Logo">

        <!---About Survey13 Statement----------------------------------------->
        <div id="aboutSurvey13">

            <h1 id="h1">About Survey13</h1>
            <p>Survey13 aims to bring people together to understand each and everyone's opinion as a whole.</p>
        </div>



        <!----A-Team Profile Gallery--------------------------------------->
        <div id="aboutATEAM-contained">
            <h1>Meet the A-Team behind Survey13</h1>
            <!----Husna---------------------------------------->
            <div id="about-Husna" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/husna.jpg" alt="Husna">
                            </div>

                        </div>

                        <h2>Husna<br>Fatima</h2>
                        <h3>Project Manager</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <!----Tamanna---------------------------------------->
            <div id="about-Tamanna" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">
                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/tamanna.jpg" alt="Tamanna">
                            </div>
                        </div>

                        <h2>Tamanna<br>Dhaliwal</h2>
                        <h3>Lead Engineer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/TamannaDhaliwal"><i class="fab fa-github"></i></a></li>

                    </ul>

                </div>
            </div>
            <!----Vanessa---------------------------------------->
            <div id="about-Vanessa" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">
                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/vanessa.jpg" alt="Vanessa">
                            </div>
                        </div>

                        <h2>Vanessa<br>Victorino</h2>
                        <h3>Web Designer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/vanessa-victorino-23b588124/"><i class="fab fa-linkedin"></i></a>
                            <li><a href="https://github.com/grauconejo13"><i class="fab fa-github"></i></a></li>
                            </i>
                        </li>
                    </ul>

                </div>
            </div>

            <!----Iris---------------------------------------->
            <div id="about-Iris" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/me.jpg" alt="Iris">
                            </div>
                        </div>

                        <h2>Iris<br>Guillermo</h2>
                        <h3>UI Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/irisguillermo"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>

            <!-----Siddharth--------------------------------------->
            <div id="about-Siddharth" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/sidd.jpg" alt="sidd">
                            </div>
                        </div>

                        <h2>Siddharth<br>Verma</h2>
                        <h3>Database Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/vermasiddharth5305/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/Sidd3221"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>

            <!-----AJ--------------------------------------->
            <div id="about-AJ" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/aj.jpg" alt="Aj">
                            </div>
                        </div>

                        <h2>AJ<br>Balcabal</h2>
                        <h3>Security Engineer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/anueljann/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/AJ-CentennialCollege"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>
            <!----------------------------------------->
        </div>
        <!---for ATEAM contained-->
    </div>
</div>
<!-------------------------------------------->


<!-------------------------------------------->