<!-- About us page -->
<div class="container">

    <div id="aboutSurvey13-contained" class="about-page-wrapper">
        <!------------------------------------------>

        <!-- <img id="mainLogo" src="/content/Survey13-images/img-01.jpg" alt="Survey13 Logo">-->

        <!------Carousel Image Slide--------------------------------------->
        <div id="aboutSurvey13">

           <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block aboutImg" src="/content/Survey13-images/img09.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block aboutImg" src="/content/Survey13-images/img10.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block aboutImg" src="/content/Survey13-images/img11.jpg">
                    </div>
                </div>
            </div>

            <!---About Survey13 Statement----------------------------------------->


            <h1 id="h1">About Survey13</h1>

            <!-- <p>Survey 13 Website is one of the most reliable and trusted Survey Sites on behalf of leading companies worldwide. The surveys are short, and quick about every topic. In addition, the users can take surveys from multiple providers. 
            The best part about Survey 13 is, “You Get Rewarded”
                  Yes! You are Right! 
            Rewards: This site offers rewards in the form of gift cards for taking surveys.  
            Amount per Survey: CAD 1
        </p> -->

            <p>&nbsp;Survey13 is one of the most reliable and trusted survey sites according to leading companies worldwide. The surveys are engaging and are focused on every topic imaginable.</p>
            <p>&nbsp;In addition, you can take as many surveys you want! However, the best part about Survey13 is “You Get Rewarded”.</p>
            <p> &nbsp;Yes! You read that right! We offer rewards in the form of electronic $25 Amazon gift cards for each survey that you complete. So don't wait any longer, complete your first survey and get your first gift card now! </p>

        </div>
        <!--------------------------------------------->




        <!----A-Team Profile Gallery--------------------------------------->
        <div id="aboutATEAM-contained">
            <h1>Meet the A-Team behind Survey13</h1>
            <!----Husna---------------------------------------->
            <div id="about-Husna" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/husna.jpg" alt="Husna">
                            </div>

                        </div>

                        <h2>Husna<br>Fatima</h2>
                        <h3>Project Manager</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/husna-fatima-3a9b41233/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <!----Tamanna---------------------------------------->
            <div id="about-Tamanna" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">
                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/tamanna.jpg" alt="Tamanna">
                            </div>
                        </div>

                        <h2>Tamanna<br>Dhaliwal</h2>
                        <h3>Lead Engineer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/tamanna--dhaliwal" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/TamannaDhaliwal" target="_blank"><i class="fab fa-github"></i></a></li>

                    </ul>

                </div>
            </div>
            <!----Vanessa---------------------------------------->
            <div id="about-Vanessa" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">
                        <div class="shadow">

                            <div class="about-img">
                                <img src="/content/images/vanessa.jpg" alt="Vanessa">
                            </div>
                        </div>

                        <h2>Vanessa<br>Victorino</h2>
                        <h3>Web Designer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/vanessa-victorino-23b588124/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <li><a href="https://github.com/grauconejo13" target="_blank"><i class="fab fa-github"></i></a></li>
                            </i>
                        </li>
                    </ul>

                </div>
            </div>

            <!----Iris---------------------------------------->
            <div id="about-Iris" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/me.jpg" alt="Iris">
                            </div>
                        </div>

                        <h2>Iris<br>Guillermo</h2>
                        <h3>UI Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/iris-guillermo-22164218a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <li><a href="https://github.com/irisguillermo" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>

            <!-----Siddharth--------------------------------------->
            <div id="about-Siddharth" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/sidd.jpg" alt="sidd">
                            </div>
                        </div>

                        <h2>Siddharth<br>Verma</h2>
                        <h3>Database Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/vermasiddharth5305/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/Sidd3221" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>

            <!-----AJ--------------------------------------->
            <div id="about-AJ" class="gallery">
                <div class="about-left">
                    <div class="about-left-content">

                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/aj.jpg" alt="Aj">
                            </div>
                        </div>

                        <h2>AJ<br>Balcabal</h2>
                        <h3>Security Engineer</h3>
                    </div>

                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/anueljann/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/AJ-CentennialCollege" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>

                </div>
            </div>
            <!----------------------------------------->
        </div>
        <!---for ATEAM contained-->
    </div>
</div>
<!-------------------------------------------->


<!-------------------------------------------->