<div class="mainDiv">
    <img id="mainLogo" src="/content/Survey13-images/img-01.jpg" alt="Survey13 Logo">
    <br><br>
    <div id="aboutSurvey13">
        <h1 id="">About Survey13</h1>
        <p id="">
            ***Insert about text here
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1>Meet the A-Team behind Survey13!</h1>
        <img id="ateam" src="/content/Survey13-images/ateam.jpg" alt="The A-Team">
    </div>
</div>