<!-- About us page -->
<div class="container">
    <div class="about-page-wrapper">
        <img id="mainLogo" src="/content/Survey13-images/img-01.jpg" alt="Survey13 Logo">
        <br>

        <div id="aboutSurvey13">
            <h1 id="h1">About Survey13</h1>
            <p>Survey13 aims to bring people together to understand each and everyone's opinion as a whole.</p>
            <br><br><br><br><br><br><br><br><br><br>
            <div class="about-right">
                <h1>Meet the A-Team behind Survey13</h1>
            </div>
        </div>
        <!-------------------------------------------->

        <div id="Husna" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/husna.jpg" alt="Husna">
                            </div>
                        </div>

                        <h2>Husna<br>Fatima</h2>
                        <h3>Project Manager</h3>
                    </div>

                    <ul class="icons">
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div id="Tamanna" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/tamanna.jpg" alt="Tamanna">
                            </div>
                        </div>

                        <h2>Tamanna<br>Dhaliwal</h2>
                        <h3>Lead Engineer</h3>
                    </div>

                    <ul class="icons">  <li>
                        <a href="https://www.linkedin.com/in/tamanna--dhaliwal" target="_blank" <i class="fab fa-linkedin"></i> </a></li>
                    
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div id="Vanessa" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/vanessa.jpg" alt="Vanessa">
                            </div>
                        </div>

                        <h2>Vanessa<br>Victorino</h2>
                        <h3>Web <br> Designer</h3>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.linkedin.com/in/vanessa-victorino-23b588124/" target="_blank" <i class="fab fa-linkedin"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div id="Iris" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/me.jpg" alt="Iris">
                            </div>
                        </div>

                        <h2>Iris<br>Guillermo</h2>
                        <h3>UI Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div id="Siddharth" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/sidd.jpg" alt="sidd">
                            </div>
                        </div>

                        <h2>Siddharth<br>Verma</h2>
                        <h3>Database Programmer</h3>
                    </div>

                    <ul class="icons">
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div id="AJ" class="gallery">
            <div class="about-left">
                <div class="about-left-content">
                    <div>
                        <div class="shadow">
                            <div class="about-img">
                                <img src="/content/images/aj.jpg" alt="Aj">
                            </div>
                        </div>

                        <h2>AJ<br>Balcabal</h2>
                        <h3>Security Engineer</h3>
                    </div>

                    <ul class="icons">
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-------------------------------------------->
    </div>
</div>