<div>
    <form id="forgotUser" method="POST">
        <label id="enterEmailLabel">Enter your email:</label>
        <input type="email" id="enterEmailField" name="email" placeholder="Enter email">
        <br><br>
        <button id="getUsername" type="submit">Get me my username!</button>
        
    </form>
</div>


