<!-- homepage -->
<div class="container" id="homeBackground">
    <div id="home-survey-box">
        <h1>Welcome to Survey13!</h1>
        <h2 id="getStarted">Get started by clicking any of the links below!</h2>
        <% if(displayName) { %>
            <h6>
                <div class="home-survey-button">
                    <a href="/surveys/create">Create a survey!</a>
                    <a href="update/<%= user[0]._id %>">Update Profile</a>
                </div>
                <% } else if(!displayName) { %>
                    <div class="home-survey-button">
                        <a href="/login">Create a survey!</a>
                    </div>
                    <div class="home-survey-button">
                        <a href="/surveys/list">View available surveys!</a>
                    </div>
                    <% } %>
            </h6>
    </div>
</div>