<div>
    <form id="updatePassword" method="POST">
        <input type="hidden" id="userID" name="id" value="<%= user._id %>" >
        <label>User Name:</label>
        <input type="hidden" id="username" name="userName" required value="<%= user.username %>" placeholder="Username">
        <br><br>
        <label>Old Password:</label>
        <input type="text" id="oldPass" readonly name="old" value="<%= user.password %>" placeholder="Password">
        <br><br>
        <label>New Password:</label>
        <input type="text" id="newPass" name="password" value="" placeholder="Password">
        <br><br>
        <button type="button" id="changePasswordButton">Change password!</button>
        </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/content/scripts/changePassword.js"></script>
</body>