<!-- Page to change user password -->
<div class="container">
    <form id="updatePassword" method="POST">
        <div id="mainPassForm">
            <input type="hidden" id="userID" name="id" value="<%= user._id %>">
            <input type="hidden" id="username" name="userName" required value="<%= user.username %>" placeholder="Username">
            <br><br>
            <label>Old Password:</label>
            <input type="text" id="oldPass" readonly name="old" value="<%= user.password %>" placeholder="Password">
            <br><br>
            <label>New Password:</label>
            <input type="text" id="newPass" name="password" value="" placeholder="Password">
            <br><br>
            <button type="button" class="btn btn-primary btn-sm" id="changePasswordButton">Change password!</button>
        </div>
        
    </form>
</div>
<script src="/content/scripts/changePassword.js"></script>