<div class="container">


    <!--The MP4 video is in public/content/video-->
    <div id="tutorialVideo-1">
        <iframe width="560" height="315" src="/content/video/survey13tutorial.mp4" frameborder="0" allow="accelerometer;autoplay;encrypted-media; gyroscope" allowfullscreen></iframe>
        <p id="connectLink">Have a problem connecting? <a href="https://www.youtube.com/watch?v=TZTra7x3Bps">YouTube Link</a></p>
    </div>
</div>