<div class="container">


    <!--The MP4 video is in public/content/video-->
    <div id="tutorialVideo-1">
        <iframe src="/content/video/survey13tutorial.mp4" frameborder="0" allow="accelerometer;autoplay;encrypted-media; gyroscope" allowfullscreen></iframe>

        <!--The YouTube embedded link has configuration issue-->
        <iframe src="https://www.youtube.com/embed/watch?v=TZTra7x3Bps" frameborder="0" allow="accelerometer;autoplay;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>